Source: wl1251-cal
Section: unknown
Priority: extra
Maintainer: Jonathan Wilson <jfwfreo@tpgi.com.au>
Build-Depends: debhelper (>= 5), libcal-dev, libnl-3-dev, pkg-config, libdbus-1-dev
Standards-Version: 3.7.2

Package: wl1251-cal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calibration data pusher for wl1251
 This application reads the stored calibration data and pushes it to wl1251.
